@import "~HTML5-Reset";
@import "mixin";

html {
  overflow-y: visible; }

html{
  color: #000;
  @include mqSP{
    background-color: #000000;
    color: #ffffff;
  }
}

body{
  background-color: #fff;
  @include mqSP{
    background-color: #000000;
    padding: 30px;
  }
}

/*
サンプルコンポーネント

Styleguide 1.0
*/

/*
サンプルボタン

Markup:
<a class="btn"> hoge </a>

Styleguide 1.1
*/
.btn{
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
}
